<% if flash[:error_messages]  %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |msg|  %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
<% end %>
<%= form_for actionlog do |f| %>
  <div class="form-group">
    <%= f.label :date, '日付' %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>
  <%# シリアルナンバー %>
  <div class="form-group">
    <%= f.label :serial_num, '通番' %>
    <%= f.text_field :serial_num, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_time, '出発時刻', class: 'control-label' %>
    <%= f.time_field :start_time, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :end_time, '到着時刻', class: 'control-label' %>
    <%= f.time_field :end_time, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :destination, '行先' %>
    <%= f.text_field :destination %>
  </div>
  <div class="form-group">
    <%= f.label :transportation, '移動方法' %>
    <%= f.text_field :transportation %>
  </div>
  <div class="form-group">
    <%= f.label :departure, '出発地' %>
    <%= f.text_field :departure %>
  </div>
  <div class="form-group">
    <%= f.label :arrival, '到着（帰着）地' %>
    <%= f.text_field :arrival %>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :attendees, '同行者・同席者', {class: 'form-label'} %>
    </div>
    <div class="col-sm-10">
      <%= f.radio_button :attendees, "あり", {} %> あり
      <%= f.radio_button :attendees, "なし", {} %> なし
    </div>
  </div>
  <div class="form-group">
    <%= f.label :attendees_details, 'ありの場合は間柄等を記入' %>
    <%= f.text_field :attendees_details %>
  </div>
  <div class="form-group">
    <%= f.label :other, '特記事項' %>
    <%= f.text_field :other, :size=>"50" %>
  </div>
  <%# 非表示データ %>
    <%# ユーザーID %>
    <div class="form-group">
      <%= f.hidden_field :user_id, :value => @current_user.id %>
    </div>
    

  <%= f.submit '登録', class: 'btn btn-primary' %>
<% end %>