<% if flash[:error_messages]  %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |msg|  %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
<% end %>

<div class='index'>
 <div class='col-mid-12'>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>No</th>
        <th>出発時刻</th>
        <th>到着時刻</th>
        <th>行先</th>
        <th>移動方法</th>
        <th>出発時</th>
        <th>到着（帰着）地</th>
        <th>同行者・同席者</th>
        <th>ありの場合は間柄等を記入</th>
        <th>特記事項</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%# 登録ありの場合 %>
      <% @actionlogs.each do |actionlog| %>
        <tr>
          <%= form_for actionlog do |f| %>
            <td><%= f.text_field :serial_num, :size=>"2" %></td>
            <td><%= f.time_field :start_time, class: 'form-control' %></td>
            <td><%= f.time_field :end_time, class: 'form-control' %></td>
            <td><%= f.text_field :destination, :size=>"10" %></td>
            <td><%= f.text_field :transportation, :size=>"10" %></td>
            <td><%= f.text_field :departure, :size=>"10" %></td>
            <td><%= f.text_field :arrival, :size=>"10" %></td>
            <td><%= f.radio_button :attendees, "あり", {} %> あり
                <%= f.radio_button :attendees, "なし", {} %> なし
            </td>
            <td><%= f.text_field :attendees_details %></td>
            <td><%= f.text_field :other, :size=>"5" %></td>
            <td><%= f.submit '登録', class: 'btn btn-primary' %></td>
            <td><%= f.hidden_field :user_id, :value => @current_user.id %></td>
            <td><%= f.hidden_field :date, class: 'form-control' %></td>
          <% end %>
        </tr>
      <% end %>

      <%# 登録なしの場合 %>
      <% for num in 1..10 %>
        <tr>
          <%= form_for actionlog do |f| %>
          <td><%= f.text_field :serial_num, :value => num,:size=>"2" %></td>
          <td><%= f.time_field :start_time, class: 'form-control' %></td>
          <td><%= f.time_field :end_time, class: 'form-control' %></td>
          <td><%= f.text_field :destination, :size=>"10" %></td>
          <td><%= f.text_field :transportation, :size=>"10" %></td>
          <td><%= f.text_field :departure, :size=>"10" %></td>
          <td><%= f.text_field :arrival, :size=>"10" %></td>
          <td><%= f.radio_button :attendees, "あり", {} %> あり
              <%= f.radio_button :attendees, "なし", {} %> なし
          </td>
          <td><%= f.text_field :attendees_details %></td>
          <td><%= f.text_field :other, :size=>"5" %></td>
          <td><%= f.submit '登録', class: 'btn btn-primary' %></td>
          <td><%= f.hidden_field :user_id, :value => @current_user.id %></td>
          <td><%= f.hidden_field :date, class: 'form-control' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
 </div>
</div>