<% if flash[:error_messages]  %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |msg|  %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
<% end %>
<%= form_for(action, url: actions_new_path) do |f| %>
  <div class="form-group">
    <%= f.label :date, '日付' %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>

	<%# ユーザーID %>
  <div class="form-group">
    <%= f.hidden_field :user_id, :value => @current_user.id %>
  </div>

  <%= f.submit '登録', class: 'btn btn-primary' %>
<% end %>