<div class="d-flex align-items-center">
  <h1><%= @month.year %> 年 <%= @month.month %>月 <%= @month.day %>日 健康状態登録一覧</h1>
</div>
<div>
  <p>所属：</p>
  <p>氏名：<%= @current_user.name %></p>
  <%= link_to "<前日", admin_restaurants_path(month:@month.yesterday) %>
  <%= link_to "翌日>", admin_restaurants_path(month:@month.tomorrow) %>
</div>

<div class='index'>
	<div class='col-mid-12'>
  	<table class="table table-striped">
    	<thead class="thead-light">
      	<tr>
					<th>氏名</th>
					<th>体温（朝）</th>
					<th>体温（夕）</th>
					<th>咳嗽</th>
					<th>呼吸困難</th>
					<th>鼻汁・鼻閉</th>
					<th>咽頭痛</th>
					<th>頭痛</th>
					<th>下痢</th>
					<th>味覚異常</th>
					<th>嗅覚異常</th>
					<th>その他</th>
					<th>行動記録</th>
				</tr>
    </thead>
    <tbody>
			<% @healths.each do |health| %>
				<tr>
					<td>名前</td>
					<td><%= health.temperature_morning %></td>
					<td><%= health.temperature_night %></td>
					<td><%= health.cough %></td>
					<td><%= health.dyspnea %></td>
					<td><%= health.nasal %></td>
					<td><%= health.throat %></td>
					<td><%= health.headache %></td>
					<td><%= health.diarrhea %></td>
					<td><%= health.taste %></td>
					<td><%= health.smell %></td>
					<td><%= health.ather %></td>
					<td></td>
				</tr>
			<% end %>
    </tbody>
  </table>
 </div>
</div>